[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
gunicorn = "*"
sentry-sdk = {extras = ["flask"], version = "*"}
Flask = "*"
Pillow = "*"
Flask-Limiter = "*"

[dev-packages]

[requires]
python_version = "3.8"
